.summary-statistic-widget{
  .statistic-text{
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    .sub-text{
      font-size: 26px;
    }
  }
  .statistic-name{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }
}
