// All devices small than 480px
// @media (min-width: $screen-xs-min) {
// width: $container-xs;
// }
// All devices large than 768px
@media (min-width: $screen-sm-min) {
width: $container-sm;
}


// All devices large than 992px
@media (min-width: $screen-md-min) {
	.main-header{
		.logo{
			min-width: $sidebar-width;
		}
	}
}
@media (min-width: $screen-lg-min) {
// Navbar header
	.c-header-searchbox{
		width: $searchbox-header-width;
	}
}
