
$btn-color-normal: #455a64;
$btn-color-normal-hover: #37474f;
$btn-color-normal-active: #263238;

$btn-color-positive: #8bc34a;
$btn-color-positive-hover: #7cb342;
$btn-color-positive-active: #689f38;

$btn-color-alert: #f44336;
$btn-color-alert-hover: #e53935;
$btn-color-alert-active: #d32f2f;

$btn-color-post: #2196f3;
$btn-color-post-hover: #1e88e5;
$btn-color-post-active: #1e88e5;

$btn-color-disable: #bdbdbd;

$btn-color-add-save-accept: #4caf50;
$btn-color-add-save-accept-hover: #43a047;
$btn-color-add-save-accept-active: #388e3c;

$btn-color-edit-copy: #03a9f4;
$btn-color-edit-copy-hover: #039be5;
$btn-color-edit-copy-active: #0288d1;

$btn-color-cancel-close: #455a64;
$btn-color-cancel-close-hover: #37474f;
$btn-color-cancel-close-active: #263238;

$btn-color-back: #bdbdbd;
$btn-color-back-hover: #9e9e9e;
$btn-color-back-active: #757575;

$form-comtrol-border-color: #cfd8dc;
$form-comtrol-border-color-hover: #03a9f4;
$form-comtrol-border-color-error: #f44336;

$positive-color: #bdbdbd;

$action-control-background: #f5f5f5;
$action-control-color: #54657e;
$control-height: 30px;

$light-blue: #3c8dbc;
